*{
  margin: 0;
  padding: 0;
}
/*header*/
.App-header {
  display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    height: 5vh;
    background: #23232e;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.link-header {
  list-style: none;
  display: flex;
}

.link-header li {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 36px;
}

.App-header p, a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s; 
}

.active {
  color: antiquewhite;
}

/* Seccao venda-home e compra-home */
.vendas-home, .compras-home{
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}
h2{
  text-align: center;
  color: #23232e;
}
